<template>
    <section>
        <h3>
            Find Movies, theaters and concerts near you
        </h3>
        <ElementPopcorn class="popcorn"></ElementPopcorn>
    </section>
</template>
<style scoped lang="scss">
    section {
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 70px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
</style>
