<script setup lang="ts">
    const emit = defineEmits(["close-modal"])
    const cities = ['Berlin','Köln','Düsseldorf','Frankfurt','Hamburg','Bonn','München','Siegen','Aachen']
    const { currentCity , setCity } = usePreferences()
    const selectCity = (city) => {
        setCity(city)
        emit('close-modal')
    }
</script>

<template>
    <div>
        <!-- <button class="find-location">
            <span class="material-symbols-rounded">my_location</span>find my Locations
        </button> -->
        <section>
            <button v-for="city in cities" :class="{'selected':(city === currentCity)}" :key="city"
            @click="selectCity(city)">{{city}}</button>
        </section>
    </div>
</template>

<style lang="scss" scoped>
button {
    padding: 0.2em 0.5em;
    border-radius: 1em;
}
 div {
     section { 
        max-width: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        button:hover {
            background-color: var(--text-primary-10);
        }
     }
     .find-location {
        background-color: var(--bg-primary);
        display: flex;
        gap: 0.3em;
        margin-bottom: 1em;
     }
 }
 .selected {
    background-color: var(--text-primary-10);
 }
</style>
