<script setup lang="ts">
    // search
    const { searchMovies } = useTmdb()
    let search_query = ref('')
    let search_results = ref([])
    let search_loader = ref(false)
    let debounce = ref(null)
    const debounceSearch = (event) => {
        clearTimeout(debounce.value)
        search_loader.value = true
        debounce.value = setTimeout(async () => {
            search_results.value = await searchMovies(search_query.value)
            search_loader.value = false
        }, 800)
    }
    // location
    const showCities = ref(false)
    const { currentCity } = usePreferences()
</script>
<template>
    <nav>
        <div style="color:var(--text-secondary)">
            <NuxtLink to="/"><img src="/KinoSuche.svg"></NuxtLink>
        </div>
        <section>
            <button class="location" @click="showCities = true">
                <span class="material-symbols-rounded">pin_drop</span>
                <span>{{currentCity}}</span>
            </button>
            <form>
                <input v-model="search_query" @input="debounceSearch" type="search" placeholder="Search">
                <span class="material-symbols-rounded">search</span>
            </form>
        </section>
        <div v-show="search_query!=''" class="search-results">
            <ElementLoaderA v-show="search_loader"></ElementLoaderA>
            <MovieSmallRow v-for="result in search_results" :movie="result" @close-modal="search_query = ''"></MovieSmallRow>
        </div>
        <ModalGeneral :showModal="showCities" @close-modal="showCities = false">
            <Locations @close-modal="showCities = false"></Locations>
        </ModalGeneral>
    </nav>
</template>
<style scoped lang="scss">
    nav {
        z-index: 10;
        position: fixed;
        width: 100%;
        background-color: var(--bg-primary-50);
        // backdrop-filter: blur(3px);
        height: 66px;
        display: flex;
        justify-content: space-between;
        padding: 1em 3em;
        @media (max-width:768px) {
            padding: 1em 1em;
        }
        a {
            img {
                width: 140px;
            }
        }
        section {
            display: flex;
            flex:1;
            gap: 0.5em;
            justify-content: right;
        }
        button {
            display: flex;
            align-items: center;
            border-radius: 1em;
            padding: 0 0.6em;
        }
        button:hover {
            background-color: var(--text-primary-10);
        }
        form {
            display: flex;
            @media (min-width:768px) {
                width: 100%;
            }
            max-width: 360px;
            background-color: var(--bg-primary);
            border-radius: 2em;
            border: 2px solid var(--text-secondary);
            padding: 0.2em 0.6em; 
            input {
                color:var(--text-primary);
                padding-left: 1em;
                flex:1;
                background: none;
                border: none;
            }
            @media (max-width:480px) {
                input {
                    max-width: 45px;
                }
                input::placeholder {
                    opacity: 0;
                }
            }
            input:focus {
                border: none;
                outline: none;
            }
            span {
                color: var(--text-secondary);
            }
        }
    }
    .search-results {
        position: fixed;
        overflow-y: scroll;
        max-height: calc(100vh - 100px);
        border-radius: 1em;
        z-index: 3;
        top: 3em;
        right: 3em;
        background-color: var(--bg-primary);
        padding: 1em;
        width: 100%;
        max-width: 400px;
        @media (max-width:768px) {
            right: 0;
        }
    }
    .search-results::-webkit-scrollbar {
        display: none;
    }
</style>
