
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
a {
    text-decoration: none;
    color:inherit;
}
button {
    all: unset;
    cursor: pointer;
}
//themes
:root {
    --text-primary:#0c0c0c;
    --text-primary-50:#0c0c0c80;
    --text-primary-15:#0c0c0c3f;
    --text-primary-10:#0c0c0c22;
    --text-primary-5:#0c0c0c0c;
    --bg-primary:#ffffff;
    --bg-primary-50:#ffffff9e;
    --bg-primary-10:#ffffff1f;
    --bg-primary-5:#ffffff10;
    --text-secondary:#C6940E;
}
.dark-mode {
    --text-primary:#ffffff;
    --text-primary-50:#ffffff8e;
    --text-primary-10:#ffffff1c;
    --text-primary-5:#ffffff0a;
    --bg-primary:#0c0c0c;
    --bg-primary-50:#0c0c0c9b;
    --bg-primary-10:#0c0c0c3e;
    --bg-primary-5:#0c0c0c16;
}
.dark-mode body {
    background-color: #0c0c0c;
    color: #e3e3e3;
}
.containerd {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 2em;
    @media (max-width:480px) {
        padding: 1em 1em;
    }
}
