<script setup lang="ts">
    const props = defineProps(['movie'])
    const { toImageUrl } = useTmdb()
    const poster_url = toImageUrl(props.movie.poster_path)
</script>

<template>
    <NuxtLink :to="'/movie/'+movie.id" class="movie-card">
        <img v-if="movie.poster_path" :src="poster_url">
        <h1 v-else>{{ movie.title }}</h1>
        <section>
            <div>
                <span class="material-symbols-rounded">star</span>
                {{movie.vote_average}}
            </div>
        </section>
    </NuxtLink>
</template>
<style scoped lang="scss">
    .movie-card {
        background-color: var(--text-primary-10);
        flex-shrink: 0;
        cursor: pointer;
        width: 200px;
        height: 300px;
        @media (max-width:768px) {
            width: 140px;
            height: 200px;
        }
        border-radius: 1em;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        h1 {
            margin: 0.5em;
        }
        transition: all 0.4s;
        position: relative;
        section{
            color: white;
            // visibility: hidden;
            position: absolute;
            bottom: -6em;
            background: hsla(0, 0%, 0%, 0.26);
            width: 100%;
            padding: 1.5em 1em;
            background: linear-gradient(hsla(0, 0%, 0%, 0),
            hsla(0, 0%, 0%, 0.3) 20%,
            hsla(0, 0%, 0%, 0.5) 30%,
            hsla(0, 0%, 0%, 0.8));
            transition: all 0.4s;
            div {
                display: flex;
                align-items: center;
            }
        }
    }
    .movie-card:hover {
        transform: scale(1.07);
    }
    .movie-card:hover section{
        bottom: 0;
        // visibility: visible;
    }
</style>
