<script setup lang="ts">
    const props = defineProps(['movie'])
    const { toImageUrl, getMovieCast } = useTmdb()

    let trailerLink = null
    let trailer = props.movie.videos.results.find(obj => {
        return obj.type === 'Trailer'
    })
    if (trailer)
        trailerLink = "https://www.youtube.com/watch?v=" + trailer.key

    let showCast = ref(false)
    let cast = ref(null)
    const loadCast = async () => {
        let all_cast= (await getMovieCast(props.movie.id))['cast']
        cast.value = all_cast.filter(obj => {
          return obj.known_for_department === 'Acting' && obj.profile_path != null
        })
        showCast.value = true
    }
</script>
<template>
    <section v-if="movie" class="overview">
        <div class="poster">
            <img v-if="movie.poster_path" :src="toImageUrl(movie['poster_path'])">
            <a v-if="trailerLink" :href="trailerLink" target="_blank">
                <span class="material-symbols-rounded">play_arrow</span>
                Trailer
            </a>
        </div>
        <div class="info">
            <h1>{{movie['title']}}</h1>
            <span class="release-year">{{movie['release_date'].split('-')[0]}}</span>
            <h5 v-if="movie.title != movie.original_title">{{movie.original_title}}</h5>
            <p>{{movie['overview']}}</p>
            <div class="tags">
                <div><span class="material-symbols-rounded">star</span>{{movie['vote_average']}}</div>
                <div><span class="material-symbols-rounded">timelapse</span>{{movie['runtime']}}'</div>
                <div v-for="genre in movie['genres']">{{genre['name']}}</div>
            </div>
            <div class="more-info">
                <button v-show="!showCast" @click="loadCast">Show Cast</button>
                <div class="cast">                
                    <ElementActor v-for="actor in cast" :key="actor.id" :actor="actor"/>
                </div>
            </div>
        </div>
    </section>
</template>
<style scoped lang="scss">
     .overview {
        margin-top: 80px;
        display: flex;
        align-items: flex-start;
        gap: 2em;
        .poster {
            text-align: center;
            background-color: var(--text-primary-5);
            border-radius: 1em;
            img {
                max-width: 280px;
                border-radius: 1em;
            }
            a{
                box-sizing: border-box;
                width: 100%;
                padding: 0.6em;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .info {
            padding: 1em 0;
            p {
                text-align: justify;
                min-height: 54px;
            }
            h1 {
                display: inline-block;
                margin: 0 0.5em 0 0;
            }
            h5 {
                margin: 0;
            }
            .release-year {
                opacity: 0.5;
            }
        }
        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            span {
                font-size: 1.2em;
            }
            div {
                display: flex;
                align-items: center;
            }
        }
        @media (max-width:768px) {
            flex-direction: column;
            margin-top: 56px;
            gap:0.5em;
            .poster {
                margin: auto;
                background:none;
            }
        }
    }
    .more-info {
        button {
            margin: 1em 0;
            display: flex;
            gap: 2px;
            align-items: center;
            background-color: var(--text-primary-5);
            padding: 0.3em 0.7em;
            border-radius: 1em;
        }
        button:hover {
            background-color: var(--text-primary-10);
        }
    }
    .cast {
        margin-top: 1em;
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        max-height: 265px;
        overflow: scroll;
    }
    .cast::-webkit-scrollbar {
        display: none;
    }
</style>
