<script setup lang="ts">
    const props = defineProps(['providers'])
    const { toImageUrl } = useTmdb()
</script>
<template>
    <section v-if="providers" class="providers">
        <h4 v-if="providers['results']['DE']">Available on</h4>
        <div v-if="providers['results']['DE']" class="providers-list">
        <h5 v-if="providers['results']['DE']['flatrate']">Stream</h5>
            <a v-for="provider in providers['results']['DE']['flatrate']" :key="provider.id" target="_blank">
                <img :src="toImageUrl(provider.logo_path)">
            </a>
        </div>
        <div v-if="providers['results']['DE']" class="providers-list">
        <h5 v-if="providers['results']['DE']['buy']">Buy/rent</h5>
            <a v-for="provider in providers['results']['DE']['buy']" :key="provider.id" target="_blank">
                <img :src="toImageUrl(provider.logo_path)">
            </a>
        </div>
    </section>
</template>
<style scoped lang="scss">
    .providers-list{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1em;
        a {
            cursor: pointer;
        }
        img {
            width: 3em;
            border-radius: 1em;
        }
    }
</style>
