<script setup lang="ts">
    
    const props = defineProps(['showtimes'])
    
    const selectedDay = ref(0)
    const weekday = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"];
    const today = new Date()
    let days = new Array()
    let daysKinoFormat = new Array()
    for (let i = 0 ; i < 7 ; i++){
        days.push(new Date())
        days[i].setDate(today.getDate() + i)
    }
    daysKinoFormat = days.map(x => x.toISOString().split('T')[0])

    

</script>
<template>
    <section class="show-times">
        <h4>In Theaters</h4>
        <ul>
            <li v-for="(day, index) in days" :class="{'active' : (index === selectedDay)}"
            @click="selectedDay=index">
                <h5 v-if="index === 0">Today</h5>
                <h5 v-else>{{weekday[day.getDay()]}}</h5>
                <h6>{{day.getDate()}}</h6>
            </li>
        </ul>
        <section>
            <div v-for="cinema in showtimes.cinemas" :key="cinema.o_id" class="cinema">
                <div v-show="cinema.scheduleData.find(item => item.date === daysKinoFormat[selectedDay])">
                    <h4 class="title">{{cinema.title}}</h4>
                    <span>{{cinema.cinema.address_street}} {{cinema.cinema.address_house_number}}</span>
                </div>
                <div v-for="day in cinema.scheduleData" :key="day.date">
                    <div v-if="day.date === daysKinoFormat[selectedDay]" class="tickets">
                        <a v-for="time in day.items" :href="time.linkCinema" target="_blank">
                            <h4>{{time.time}}</h4>
                            <h6 v-if="time.is3D">3D</h6>
                            <h6 v-if="time.isOV">OV</h6>
                        </a>
                    </div>
                </div>
            </div>

            <div v-if="showtimes.cinemas.length === 0 && showtimes.alternativeCities.length > 0 ">
                Found showtime in other cities:
                <div v-for="city in showtimes.alternativeCities">
                    <span>{{city.title}}</span>
                </div>
            </div>
            <div v-if="showtimes.cinemas.length === 0 && showtimes.alternativeCities.length === 0 ">
                No Theater found near you.
            </div>
        </section>
    </section>
</template>
<style scoped lang="scss">
    ul {
        padding: 0;
        list-style-type: none;
        display: flex;
        overflow: scroll;
        gap: 1em;
        @media (max-width:480px) {
            gap:0.2em;
        }
        li {
            border-radius: 0.4em;
            cursor: pointer;
            padding: 1em 0.7em;
            h5,h6 {
                margin: 0;
            }
            h5 {
                opacity: 0.6;
            }
            h6 {
                margin-top: 0.3em;
                font-size: 1em; 
            }
            text-align: center;
            transition: all 0.5s;
        }
        li:hover {
            background-color: var(--text-primary-5);
        }
        li:active {
            background-color: var(--text-primary-10);
        }
    }
    ul::-webkit-scrollbar {
        display: none;
    }
    .active {
        background-color: var(--text-primary-10);
        cursor: initial;
    }
    .active:hover {
        background-color: var(--text-primary-10);
    }
    .showtime-error{
        span {
            font-size: 3em;
        }
        text-align: center;
    }
    .cinema {
        .title {
            margin: 0;
            margin-top: 1em;
        }
        span {
            display: inline-block;
            margin-bottom: 1em;
            opacity: 0.5;
            font-weight: 100;
        }
        .tickets {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            a {
                background-color: var(--text-primary-10);
                padding: 0.6em 1em;
                border-radius: 0.4em;
                h4 {
                    margin: 0;
                    font-weight: 400;
                    font-size: 1.3em;
                }
                h6 {
                    margin: 0;
                }
                transition: all 0.5s;
            }
            a:hover {
                background-color: var(--text-primary-50);
            }
        }
    }

</style>
