<script setup lang="ts">
    const props = defineProps(['movie'])
    const emit = defineEmits(["close-modal"])
    const router = useRouter()
    const { toImageUrl } = useTmdb()
    const openResult = () => {
        router.push('/movie/' + props.movie.id)
        emit('close-modal')
    }
</script>
<template>
    <div v-if="movie" @click="openResult" class="movie-card">
        <img :src="toImageUrl(movie.poster_path)">        
        <div>
            <h3>{{movie.title}}</h3>
            <h6 v-if="movie.title != movie.original_title">{{movie.original_title}}</h6>
        </div>
        <h5 v-if="movie.release_date">{{movie.release_date.split('-')[0]}}</h5>
    </div>
</template>
<style scoped lang="scss">
    .movie-card {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1em;
        width: 100%;
        border-radius: 0.5em;
        margin: 0.5em 0;
        transition: all 0.5s;
        img {
            height: 3em;
            border-radius: 0.5em;
        }
        h3 {
            margin: 0;
        }
        h5 {
            opacity: 0.3;
        }
        h6 {
            margin: 0;
        }
    }
    .movie-card:hover {
        background-color: #222;
    }
</style>
