<script setup lang="ts">
    const route = useRoute()
    const { getMovieDetails, getMovieProviders,getKinoTimes, toImageUrl } = useTmdb()
    const { currentCity } = usePreferences()
    let movie = await getMovieDetails(route.params.id)
    let providers = await getMovieProviders(route.params.id)

    //get showtimes
    let showTimesLoading = ref(true)
    let showTimes = ref(null)
    onMounted(async() => {
        showTimes.value = await getKinoTimes(movie.value['title'],currentCity.value)
        showTimesLoading.value = false
    })
    watch(currentCity, async () => {
        showTimes.value = null
        showTimesLoading.value = true
        showTimes.value = await getKinoTimes(movie.value['title'],currentCity.value)
        showTimesLoading.value = false
    })
</script>
<template>
    <div class="containerd">
        <MovieOverview :movie="movie" />
        <MovieShowTimes v-if="showTimes && showTimes != 'NoShow' && showTimes != 'NoConnection'" :showtimes="showTimes"></MovieShowTimes>
        <ElementLoaderB v-if="showTimesLoading">Gathering show times...</ElementLoaderB>
        <ElementIconText v-if="showTimes === 'NoShow'" :icon="'calendar_today'">No showtime found.</ElementIconText>
        <ElementIconText v-if="showTimes === 'NoConnection'" :icon="'link_off'">Could not gather showtimes :(</ElementIconText>
        <MovieProviders :providers="providers" />
    </div>
</template>
