<script setup lang="ts">
    //setting and checking for cookie
    const cookie = useCookie("kinocity")
    if(!cookie.value) cookie.value = "Berlin"
    const { setCity } = usePreferences()
    setCity(cookie.value)
    
</script>

<template>
  <div class="layout">
    <Navigation></Navigation>
    <slot/>    
    <Footer></Footer>
  </div>
</template>

<style scoped lang="scss">

</style>
 