<script setup lang="ts">

    const { getCinemaMovies, getSortedMovies } = useTmdb()
    
    let movies = await getCinemaMovies()
    let discover = await getCinemaMovies(2)
    // let top_rated = await getSortedMovies()

</script>
<template>
<div>
    <Head>
        <Title>KinoSuche</Title>
        <Meta name="description" content="Find Cinemas, Concerts and Theaters near you"/>
        <Meta name="keywords" content="cinema, kino, movie, concert, theater"/>
        <Meta name="author" content="Alireza Ektefaie"/>
    </Head>
    <Intro></Intro>
    <div v-if="movies">
        <h1>In Theaters</h1>
        <div class="movie-row">
            <MovieCard v-for="movie in movies" :key="movie.id" :movie="movie"></MovieCard>
        </div>
    </div>
    <div v-else class="cantload">
        Could not connect to the server, try again later.
    </div>
    <div v-if="discover">
        <h1>Discover</h1>
        <div class="movie-row">
            <MovieCard v-for="concert in discover" :key="concert.id" :movie="concert"></MovieCard>
        </div>
    </div>
</div>
</template>
<style scoped lang="scss">

    h1 {
        transform: translateY(35px);
        opacity: 0.5;
        margin: 0;
        padding: 0 100px;
        text-transform: uppercase;
    }
    .movie-row {
        width:100%;
        overflow: scroll;
        display: flex;
        gap: 1em;
        position: relative;
        padding: 24px 50px;
        div{
            z-index: 2;
        }
    }
    .movie-row::-webkit-scrollbar {
        display: none;
    } 
    .cantload{
        text-align: center;
        padding: 1em;
    }
</style>
