<script setup>
const props = defineProps(['actor'])
const { toImageUrl } = useTmdb()
</script>
<template>
    <div class="actor">
        <img :src="toImageUrl(actor.profile_path)" />
        <h5>{{ actor.name }}</h5>
        <span>{{ actor.character }}</span>
    </div>
</template>
<style lang="scss" scoped>
.actor {
    text-align: center;

    img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
    }

    h5 {
        margin: 0;
    }

    span {
        opacity: 0.5;
        font-size: 0.7em;
    }
}
</style>
