<script setup>
    const props = defineProps({
        icon:{
            default:'info'
        }
    })
</script>
<template>
    <div class="failed">
        <span class="material-symbols-rounded">{{icon}}</span><br>
        <span><slot>Connection failed...</slot></span>
    </div>
</template>
<style scoped lang="scss">
.failed{
    text-align: center;
    color: var(--text-primary-50);
    .material-symbols-rounded {
        font-size: 3em;
        margin: auto;
    }
}
</style>
