<template>
    <div class="loader">
        <div class="spinner"></div>
        <span><slot>Loading...</slot></span>
    </div>
</template>
<style scoped lang="scss">
.loader{
    text-align: center;
    color: var(--text-primary-50);
    div {
        margin: auto;
        margin-bottom: 1em;
        width: 56px;
        height: 56px;
        border: 11.2px var(--text-primary-50) double;
        border-left-style: solid;
        border-radius: 50%;
        animation: spinner-aib1d7 0.75s infinite linear;
    }
    @keyframes spinner-aib1d7 {
        to {
            transform: rotate(360deg);
        }
    }
}
</style>
